@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex1 {
    height: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    margin-left: 50%;
}

body {
    margin-left: 20px;
}
nav > a {
    color: black;
    padding: 15px;
    font-weight: bold;
}

nav > a:hover {
    transition-delay: .1s;
    color: #3A2BE2;
}

header {
    padding-bottom: 15px;
}

header > p {
    font-size: larger;
    border-radius: 10px;
    padding: 3px;
    margin-right: 10%;
}

.img-container{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 2px solid #000;
 }
 
 .img-container img{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
 .img-container:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

.flex1:hover img {
    transform: scale(1.2);
}

