@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex1 {
    height: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-link {
  margin-top: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
  background-color: #3a2be2;
  color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
}

.btn-link:hover {
    box-shadow: 1px 1px 10px black;
}

body {
    margin-left: 20px;
}
nav > a {
    color: black;
    padding: 15px;
    font-weight: bold;
}

nav > a:hover {
    transition-delay: .1s;
    color: #3A2BE2;
}

header {
    padding-bottom: 15px;
}

header > p {
    font-size: larger;
    border-radius: 10px;
    padding: 3px;
    margin-right: 10%;
}

main > div > h1 {
    padding-right: 20px;
    padding-top: 0%;
}

main > div > p > a {
    color: #3A2BE2;
    text-decoration: double;
    font-size: 1.1em;
}

main > div > h2 {
    text-align: justify;
    max-width: 550px;
    margin: auto;
    padding-right: 40px;
}

main > div > iframe {
    padding: 25px 50px 30px 0px;
    
}

main > div > p {
    text-align: justify;
    max-width: 550px;
    margin: auto;
    padding-right: 40px;
}

main > div > p > a {
    font-weight: bold;
}

main > div > h3 {
    font-size: 1.7em;
    margin-right: 30px;
}

footer {
    padding-top: 80px;
    font-size: 0.7em;
    padding-right: 50px;
}
